img {
    border: 5px solid red
}

.header {
    font-size: 45px;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.sub-header {
    background-color: lightblue;
    text-decoration: underline;
}

.sub-ingredients {
    background-color: lightpink;
    text-decoration: underline;
}

.short {
    background-color: lightgreen;
}

li.recipe-item > a:hover {
    background-color: lightgray;
}

ul > li.recipe-item {
    display: flex;
    padding: 32px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
}

li.recipe-item {
    background-color: lightblue;  
    opacity: 70%;
    transition: 0.2s;
    transition-duration: 250ms;
}

li.recipe-item:hover {
    background-color: lightblue;
    opacity: 1;
    transform: translateX(-10px);
    
}
